{% extends "layouts/default.html" %}

{% block content %}
<div class="row">
    <div class="col-10 mx-auto col-lg-6 mx-lg-auto mt-5">
        <form action="auth/login.php" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input type="text" class="form-control" name="username" id="username" value="" required=""/>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="text" class="form-control" name="password" id="password" value="" required=""/>
            </div>
            <div class="mb-3 d-flex">
                <button type="submit" class="d-flex btn btn-primary">
                    <i class="material-icons me-2">login</i>
                    <span>login</span>
                </button>
            </div>    
        </form>
    </div>
</div>
{% endblock %}


